<ion-header>
  <ion-toolbar class="header">
      <ion-buttons slot="start">
          <ion-back-button text="Atrás" icon="arrow-back"></ion-back-button>
      </ion-buttons>
    <ion-title>
        Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <div style="width: 100%;">
    <img src="https://icon-library.net/images/avatar-icon-png/avatar-icon-png-10.jpg" style="z-index:2;position:absolute; background-color: transparent;margin-top: 5%;margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;" class="btn btn-primary btn-circle btn-xl">
  </div>
  <img src="../../../assets/imgs/sound-wave2.png" style="opacity: 1;width: 100%;z-index:0;position:absolute;height: 16%;">
  <img src="../../../assets/imgs/sound-wave.png" style="opacity: 1;width: 100%;z-index:1;position:absolute;height: 14%;">

  <div style="width: 100%;text-align: center;">
    <h1 style="background-color: transparent;margin-top: 40%;font-family: 'Roboto', sans-serif;font-size: 24px;">{{name}} </h1>
    <p style="text-align: center;
    font: Light 15px/24px Roboto;
    letter-spacing: 0;
    color: #777777;
    opacity: 1;">Presiona en las casillas para editar los campos</p>
  </div>
  <div style="margin: 16px;text-align: center;">
    <div class="input-group mb-3 content">
        <input type="text" [(ngModel)]="name" class="form-control material" placeholder="Nombre completo">
        <div class="input-group-prepend">
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
              <i class="fa fa-user" aria-hidden="true"></i>
          </div>
        </div>
    </div>
    <div class="input-group mb-3 content">
        <input type="number" [(ngModel)]="cedula" class="form-control material" placeholder="Cedula" disabled>
        <div class="input-group-prepend">
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
              <i class="fa fa-address-card" aria-hidden="true"></i>
          </div>
        </div>
    </div>
    <div class="input-group mb-3 content">
        <input type="number"  class="form-control material" [(ngModel)]="celular" placeholder="Celular">
        <div class="input-group-prepend">
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
              <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
        </div>
    </div>
    <div class="input-group mb-3 content">
        <input type="email"  class="form-control material" placeholder="Correo" [(ngModel)]="correo">
        <div class="input-group-prepend">
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
              <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
    </div>
   <!--  <div class="input-group mb-3 content">
        <input type="password"  class="form-control material" placeholder="Password">
        <div class="input-group-prepend">
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
              <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
        </div>
    </div> -->
    <div class="input-group mb-3 content">
        <input type="text"  [(ngModel)]="direccion" class="form-control material" placeholder="Dirección">
        <div class="input-group-prepend">
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
              <i class="fa fa-address-book" aria-hidden="true"></i>
          </div>
        </div>
    </div>

    <div class="input-group mb-3 content">
<ion-label> Fecha de Nacimiento</ion-label>
    </div>

    <div class="input-group mb-3 content">
    
        <input type="date"  class="form-control material" [(ngModel)]="fecha">
        <div class="input-group-prepend">
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>

    </div>
    <div class="input-group mb-3 content">
        <ion-select placeholder="Estado civil" class="form-control material" >
            <ion-select-option value="s">Soltero/a</ion-select-option>
            <ion-select-option value="c">Casado/a</ion-select-option>
            <ion-select-option value="u">Union Libre</ion-select-option>
            <ion-select-option value="v">Viudo/a</ion-select-option>
          </ion-select>
          <div class="input-group-text icon-style" style="border-radius: 0px 8px 8px 0px;">
            <i class="fa fa-genderless" aria-hidden="true"></i>
        </div>
    </div>

    <button class="btn-save" (click)="registrar()">GUARDAR</button>
  </div>
    
  </ion-content>