<ion-header>
  <ion-toolbar style="color: #0093E9;">
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: rgb(247, 241, 241);">
  <div class="col-md-12"> 
    <p style="font-size: 12px;color: gray;margin: 0;">4/10/2019</p>
  <p style="color: #0093E9;font-weight: bold;margin: 0;">21:30</p>
  </div>
  <ion-card style="margin: 0;background: white;color: gray;font-weight: normal;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">Transacción #000</ion-col>
        <ion-col size="12">Transferencia de puntos cuenta Nª 586121584d</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br>
  <div class="col-md-12"> 
    <p style="font-size: 12px;color: gray;margin: 0;">4/10/2019</p>
  <p style="color: #0093E9;font-weight: bold;margin: 0;">21:30</p>
  </div>
  <ion-card style="margin: 0;background: white;color: gray;font-weight: normal;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">Transacción #000</ion-col>
        <ion-col size="12">Transferencia de puntos cuenta Nª 586121584d</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br>
  <div class="col-md-12"> 
    <p style="font-size: 12px;color: gray;margin: 0;">4/10/2019</p>
  <p style="color: #0093E9;font-weight: bold;margin: 0;">21:30</p>
  </div>
  <ion-card style="margin: 0;background: white;color: gray;font-weight: normal;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">Transacción #000</ion-col>
        <ion-col size="12">Transferencia de puntos cuenta Nª 586121584d</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
