<ion-header>
  <ion-toolbar class="header">
      <ion-buttons slot="start">
          <ion-back-button text="Atrás" icon="arrow-back"></ion-back-button>
      </ion-buttons>
    <ion-title>
      Recargar Tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<p><b>Seleccionar aliados</b></p>
<div *ngFor="let item of cuentas">
  <ion-card style="background: white;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3"><img src="../../../assets/imgs/{{item.imagen}}" style="width: 70%;"></ion-col>
        <ion-col size="6" style="text-align: left;">
          <ion-label><b>{{item.nameAliado}}</b></ion-label> 
          <ion-input [(ngModel)]="selec" (input)="getPoints($event, item.aliado)" type="number" placeholder="Cantidad" style="border-bottom: 1px solid #0093E9;width: 70%;"></ion-input></ion-col>
        <ion-col size="3" style="color: #0093E9;">
          <br><b>{{item.cantidad}} Pts</b>
          <br><b>$ {{item.dinero | number}}</b>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" id="tabs-border" class="ion-padding">
    <img src="../../../assets/imgs/credit-card.png" width="84px">
  </ion-tab-bar>
  <ion-tab-bar slot="bottom">
   <ion-grid fixed>
     <ion-row>
       <ion-col size="6" class="text-bold">Total en pesos</ion-col>
       <ion-col size="6" class="text-bold azul">$ {{total}}</ion-col>
     </ion-row>
   </ion-grid>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom">
    <ion-grid fixed>
      <ion-row>
       <ion-col size="6" class="text-bold">Saldo actual</ion-col>
       <ion-col size="6" class="text-bold">Saldo nuevo</ion-col>
     </ion-row>
    </ion-grid>
   </ion-tab-bar>
   <ion-tab-bar slot="bottom">
    <ion-grid fixed>
     <ion-row>
       <ion-col size="6" class="text-bold azul">$ {{saldo}}</ion-col>
       <ion-col size="6" class="text-bold azul">$ {{dinero}}</ion-col>
     </ion-row>
    </ion-grid>
   </ion-tab-bar>
  <ion-tab-bar slot="bottom">
    <button id="confirmar" (click)="recargar()">CONFIRMAR</button>
  </ion-tab-bar>
</ion-tabs>
