<ion-content fullscreen>
  <div class="content">
    <img id="block-img" src="../../assets/imgs/img-intro-1.png">
    <h5 id="text-welcome">Con <b>Swappi</b> tu decides<br>que hacer contigo</h5>
    <p id="subtxt">Transfiere, carga, recarga y compra<br> tus puntos al mejor precio</p>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" routerLink="/login" routerDirection="root">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
